[Unit]
Description=RepoXplorer indexer daemon
After=syslog.target network.target elasticsearch.service

[Service]
User=repoxplorer
Group=repoxplorer
ExecStart=/usr/bin/repoxplorer-indexer --forever --config /etc/repoxplorer/config.py

[Install]
WantedBy=multi-user.target
