[Unit]
Description=RepoXplorer web ui
After=syslog.target network.target

[Service]
Type=simple
User=repoxplorer
Group=repoxplorer
SyslogIdentifier=repoxplorer-webui
ExecStart=/usr/bin/gunicorn_pecan --workers 8 --chdir / -b 0.0.0.0:20002 --name repoxplorer /etc/repoxplorer/config.py

[Install]
WantedBy=multi-user.target
