[Unit]
Description=RepoXplorer indexer daemon

[Service]
User=root
Group=root
ExecStart=/usr/bin/repoxplorer-indexer --forever

[Install]
WantedBy=multi-user.target
